 
    .relative-container input {
        flex: 1;
        /* margin-right:  220px; */
    }
    
    .order-now-btn {
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1; 
    
        /* margin-right:  190px; */
    }


    .footer a:hover {
        text-decoration: underline;
    }
    .order-now-btn-2 {
        right: 0;
        top: 0;
        bottom: 0;
        
    }
    

    

    
    
    
    